<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous"><a href="<%- config.root %><%- page.prev_link %>">&larr;  <%- __('next')%></a></li>
    <% } %>
    <% if (page.next){ %>
        <li class="next"><a href="<%- config.root %><%- page.next_link %>"><%- __('prev')%>  &rarr;</a></li>
    <% } %>
</ul>